@use "abstracts/variables" as *;
@use "base/colors" as *;
@use "abstracts/mixins" as *;

.hamburger {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  @include z-index(toast);

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 24px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;

    span {
      height: 4px;
      width: 100%;
      background-color: $secondary-color;
            box-shadow: 1px 1px 2px $black;
      border-radius: 3px;
      transition: transform 0.4s ease, opacity 0.4s ease,
        background-color 0.4s ease;
      display: block;
      position: relative;
    }
  }

  // === ACTIVE STATE ===
  &__inner.active {
    span {
      background-color: $black;
            box-shadow: none;
    }

    span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
      transform: scaleX(0);
    }

    span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }

  // === NOT ACTIVE STATE ===
  &__inner.not-active {
    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
      transform: none;
      opacity: 1;
    }
  }
}
