@use "abstracts/variables" as *;
@use "base/colors" as *;
@use "abstracts/mixins" as *;
@use "base/animations" as *;

.montaje-mantenimiento-process {
  position: relative;
  width: 100%;
  background-color: $white;
  @include section-padding-bottom();

  &__container {
    @include container-width(mobile);
    margin: 0 auto;

    @include min-width(md) {
      @include container-width(tablet);
    }

    @include min-width(lg) {
      @include container-width(smalldesktop);
    }

    @include min-width(xl) {
      @include container-width(desktop);
    }
  }

  &__title {
    margin-right: auto;
  }

  &__subtitle {
    @include font-size(lg);
    @include font-weight(semibold);
    color: $primary-color;
    @include margin(2xl, bottom);
    text-align: center;
  }

  &__text {
    max-width: 1200px;
    @include padding(2xl, bottom);

    @include min-width(lg) {
      margin-left: auto;
    }
  }

  &__services {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include gap(lg);
    @include margin(4xl, y);

    @include min-width(lg) {
      grid-template-columns: repeat(4, 1fr);
      @include gap(2xl);
      @include margin(5xl, y);
    }
  }

  &__service {
    text-align: center;
    @include flex(row, center, start);
    gap: 1rem;

    &-icon {
      @include font-size(4xl);
    }
  }

  &__service-title {
    text-align: left;
    margin: 0 !important;
    max-width: 100% !important;
  }

  &__service-description {
    text-align: left;
    margin: 0 !important;
  }

  &__bottom-text {
    max-width: 1200px;
    margin-bottom: 0 !important;

    @include min-width(lg) {
      margin-left: auto;
    }
  }

  &__footer-text {
    @include font-size(4xl);
    @include font-weight(light);
    color: rgba($black, 0.1);
    text-align: center;
    letter-spacing: 4px;

    @include min-width(md) {
      @include font-size(6xl);
    }
  }
}
