@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;
@use "base/animations" as *;

.about-services {
  position: relative;
  width: 100%;
  @include section-padding-y();
  background-color: $white;

  &__content {
    @include flex(column, flex-start, flex-start);

    @include min-width(md) {
      flex-direction: row;
      @include gap(xl);
    }

    @include min-width(xl) {
      @include padding(10xl, x);
      @include gap(10xl);
    }
  }

  &__header {
    position: relative;
    @include margin(lg, bottom);
  }

  &__categories {
    @include margin(xl, y);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
    max-width: 80%;

    @include min-width(md) {
      width: 40%;
      max-width: 100%;
      margin-bottom: 0;
    }

    @include min-width(xl) {
      width: 35%;
      gap: 1rem;
    }

    @include min-width(xxxl) {
      width: 35%;
    }
  }

  &__category {
    @include font-size(md);
    @include font-weight(regular);
    line-height: 1;
    @include padding(sm, all);
    @include border-radius(full);
    display: inline-block;
    color: $black;
    background-color: $white;
    border: 1px solid $black;
    white-space: nowrap;
    @include transition(all, normal, ease);

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &__description {
    @include min-width(md) {
      width: 60%;
    }
  }
}
