@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;
@use "base/animations" as *;

.about-services {
  position: relative;
  width: 100%;
  @include padding(6xl, y);
  background-color: $white;

  @include min-width(lg) {
    @include padding(section-y, bottom);
  }

  &__container {
    margin: 0 auto;
    @include container-width(mobile);
    @include padding(content-x, x);

    @include min-width(md) {
      @include container-width(tablet);
    }

    @include min-width(lg) {
      @include container-width(smalldesktop);
    }

    @include min-width(xl) {
      @include container-width(desktop);
    }
  }

  &__header {
    @include margin(3xl, bottom);
    position: relative;
  }

  &__title {
    @include font-size(3xl);
    @include font-weight(semibold);
    line-height: 1.1;
    @include letter-spacing(tight);
    text-transform: uppercase;
    color: $black;

    .title-row {
      display: block;
      @include margin(3xs, bottom);

      @include min-width(xl) {
        white-space: nowrap;
      }
    }

    @include min-width(xs) {
      @include font-size(5xl);
    }

    @include min-width(sm) {
      @include font-size(6xl);
    }

    @include min-width(md) {
      @include font-size(7xl);
      text-align: center;
    }
  }

  &__subtitle {
    @include font-size(lg);
    @include font-weight(medium);
    @include margin(md, bottom);
    color: $black;
    display: block;

    @include min-width(xl) {
      position: absolute;
      max-width: 10%;
    }
  }

  &__content {
    @include flex(column, flex-start, flex-start);

    @include min-width(md) {
      flex-direction: row;
      @include gap(xl);
    }

    @include min-width(xl) {
      @include padding(10xl, x);
      @include gap(10xl);
    }
  }

  &__categories {
    @include margin(xl, bottom);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    @include min-width(md) {
      width: 40%;
      margin-bottom: 0;
      flex-direction: column;
    }

    @include min-width(xl) {
      width: 35%;
    }

    @include min-width(xxxl) {
      width: 35%;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    
    @include min-width(md) {
      flex-wrap: nowrap;
    }
  }

  &__category {
    @include font-size(md);
    @include font-weight(regular);
    line-height: 1;
    @include padding(sm, all);
    @include border-radius(full);
    display: inline-block;
    // Invertimos los colores
    color: $black;
    background-color: $white;
    border: 1px solid $black;
    @include margin(xs, right);
    @include margin(xs, bottom);
    white-space: nowrap;
    @include transition(all, normal, ease);

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &__description {
    @include min-width(md) {
      width: 60%;
    }

    @include min-width(xl) {
      width: 40%;
    }
  }

  &__text {
    @include font-size(base);
    line-height: 1.6;
    color: rgba($black, 0.7);
    @include margin(md, bottom);

    &:last-child {
      margin-bottom: 0;
    }
  }
}