@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;

.logo-marquee {
  width: 100%;
  background-color: rgba($secondary-color, 0.5);
  padding: 4rem 2rem;

  &--dark-mode {
    background-color: $black;

    .logo-marquee__header-title {
      color: $secondary-color;
    }

    .logo-marquee__item img {
      filter: brightness(0) invert(1);
      opacity: 0.7;

      &:hover {
        filter: brightness(0) invert(1);
        opacity: 1;
      }
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    @include container-width(desktop);
    margin: 0 auto;
    @include padding(md, x);

    @include min-width(lg) {
      flex-direction: row;
      align-items: flex-start;
      gap: 5rem;
    }

    &.has-header {
      @include flex(column, flex-start, unset);
      gap: 4rem;

      @include min-width(lg) {
        gap: 1rem;
        @include flex(row, flex-start, center);
      }
    }
  }

  &__header {
    flex-shrink: 0;
    padding: 0 1.5rem 0 0;
    margin: 0;

    &-title {
      @include font-size(3xl);
      @include font-weight(bold);
      color: $black;
      margin: 0;

      @include min-width(lg) {
        @include font-size(4xl);
      }
    }
  }

  &__wrapper {
    flex: 1;
    width: 100%;
    overflow: hidden;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    overflow-y: hidden;

    img {
      opacity: 0.75;
      filter: grayscale(100%) contrast(1);
      transition: all 0.5s ease;
    }

    &:hover {
      img {
        opacity: 1;
        filter: grayscale(30%) contrast(1.1);
        transform: scale(1.05);
      }
    }
  }
}
