// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------
$spacing: (
  xs: 8px,
  sm: 16px,
  md: 24px,
  lg: 32px,
  xl: 40px,
  xxl: 48px,
);

// -----------------------------------------------------------------------------
// Container Widths
// -----------------------------------------------------------------------------
$container: (
  desktop: clamp(1140px, 80vw, 1680px),
  smalldesktop: clamp(950px, 92vw, 1140px),
  tablet: 85vw,
  mobile: clamp(280px, 90vw, 540px),
);

// -----------------------------------------------------------------------------
// Breakpoints (mobile-first)
$breakpoints: (
  xs: 375px,
  // Extra small phones
  sm: 576px,
  // Small phones
  md: 768px,
  // Tablets
  lg: 992px,
  // Small desktops
  xl: 1200px,
  // Medium desktops
  xxl: 1400px,
  // Large desktops
  xxxl: 1600px // Extra large desktops,,,,
);

// -----------------------------------------------------------------------------
// Z-Index
// -----------------------------------------------------------------------------
$z-index: (
  below: -1,
  default: 0,
  above: 1,
  header: 100,
  menu: 200,
  modal: 300,
  toast: 400,
  tooltip: 500,
);

// -----------------------------------------------------------------------------
// Border Radius
// -----------------------------------------------------------------------------
$radius: (
  sm: 2px,
  md: 4px,
  lg: 8px,
  xl: 16px,
  full: 9999px,
);

// -----------------------------------------------------------------------------
// Transitions
// -----------------------------------------------------------------------------
$durations: (
  fast: 150ms,
  normal: 300ms,
  slow: 500ms,
);

// -----------------------------------------------------------------------------
// Shadows / I use this $ syntax instead because it break the code otherwise using the arrray since i have two comas "," in the definition
// -----------------------------------------------------------------------------
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);

// -------------------------light----------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
$font-size: (
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  2xl: 1.5rem,
  3xl: 1.875rem,
  4xl: 2.25rem,
  5xl: 3rem,
  6xl: 3.75rem,
  7xl: 4.5rem,
  8xl: 6rem,
  9xl: 8rem,
  10xl: 10rem,
);

$font-weight: (
  extralight: 100,
  light: 300,
  medium: 500,
  semibold: 600,
  bold: 700,
);

$letter-spacing: (
  tight: -0.025em,
);
