@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;

.text-marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  min-height: 80px;
  display: flex;
  align-items: center;
  background-color: rgba($secondary-color, 0.5);
  @include padding(2xl, y);
  margin: 0;

  @include min-width(sm) {
    min-height: 100px;
  }

  @include min-width(md) {
    min-height: 150px;
  }

  @include min-width(lg) {
    min-height: 180px;
  }

  .marquee-text {
    @include font-weight(semibold);
    color: rgba($black, 0.15);
    text-transform: uppercase;
    @include letter-spacing(wide);
    font-family: var(--font-display);
    display: inline-block;
    line-height: 0.8;
    margin: 0;
    padding: 0;
    font-size: 50px;
    position: relative;
    top: 0.05em;

    @include min-width(md) {
      font-size: 90px;
      top: 0.04em;
    }

    @include min-width(lg) {
      font-size: 120px;
      top: 0.03em;
    }

    @include min-width(xl) {
      font-size: 120px;
      top: 0.03em;
    }

    .dot {
      display: inline-block;
      margin: 0;
      padding: 0;
      line-height: inherit;
    }
  }

  // Dark mode variant
  &--dark {
    background-color: $black;

    .marquee-text {
      color: rgba($white, 0.15);
    }
  }
}