@use "abstracts/variables" as *;
@use "base/colors" as *;
@use "abstracts/mixins" as *;
@use "base/animations" as *;

.team-section {
  position: relative;
  width: 100%;
  background-color: $white;
  overflow: hidden;
  @include section-padding-top();

  &__header {
    position: relative;
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    width: 100%;

    @include min-width(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include min-width(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include min-width(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card-wrapper {
    width: 100%;
    height: 100%;
  }
}
