@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;
@use "base/animations" as *;

.diseno-interiores-process {
  width: 100%;
  position: relative;

  &__container {
    max-width: 1600px;
    position: relative;
  }

  &__description {
    max-width: 1000px;
    margin-left: auto;
    @include padding(4xl, bottom);
  }

  &__image-area {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: visible;
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }

  &__below-statement {
    margin: 0 auto;
    max-width: 1200px;
    @include padding(4xl, y);
    position: relative;
  }
}
