@use "abstracts/variables" as *;
@use "base/colors" as *;
@use "abstracts/mixins" as *;

.portfolio-cta {
  width: 100%;
  background-color: $white;
  @include section-padding-y();
  margin: 0 auto;
  width: fit-content;

  &__title {
    text-align: center;
    width: auto;
    text-wrap: nowrap;
    color: $black;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__label {
    margin: 0 4rem 0 -4rem !important;
  }
}
