@use "abstracts/variables" as *;
@use "base/colors" as *;
@use "abstracts/mixins" as *;
@use "base/animations" as *;

.nuestros-clientes-hero-section {
  position: relative;
  width: 100%;
  background-color: $white;
  @include section-padding-top();
  @include margin(xl, top);

  &__title {
    color: $black;
    opacity: 0;
  }

  &__subtitle {
    color: $black;
    max-width: 600px;
    opacity: 0;
  }
}