@use "abstracts/variables" as *;
@use "base/colors" as *;
@use "abstracts/mixins" as *;
@use "base/animations" as *;

.fabricacion-process-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: $white;
  @include section-padding-y();

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include min-width(lg) {
      flex-direction: row;
      align-items: flex-start;
      gap: 5rem;
    }
  }

  &__header {
    position: relative;
    max-width: 800px;

    @include min-width(lg) {
      width: 40%;
      position: sticky;
      top: -10rem;
    }
  }

  &__title {
    color: $black;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include min-width(lg) {
      width: 60%;
      gap: 1rem;
    }
  }

  &__category {
    @include font-size(lg);
    @include font-weight(semibold);
    color: $black;
    @include letter-spacing(wide);
    text-transform: uppercase;
    @include margin(md, bottom);
  }

  &__item {
    @include padding(2xl, top);
    position: relative;
    border-top: 1px solid rgba($black, 0.1);
    @include transition(transform, normal, ease);

    &:hover {
      transform: translateY(-8px);

      .fabricacion-process-section__item-title {
        color: $black;

        &::after {
          width: 80px;
        }
      }
    }
  }

  &__item-title {
    @include font-size(2xl);
    @include font-weight(bold);
    color: $black;
    @include margin(lg, bottom);
    @include transition(color, normal, ease);
    position: relative;
    @include padding(sm, bottom);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: $primary-color;
      @include transition(width, normal, ease);
    }

    @include min-width(md) {
      @include font-size(3xl);
    }
  }

  &__item-description {
    @include font-size(lg);
    line-height: 1.7;
    color: rgba($black, 0.7);
    max-width: 90%;
  }
}