@use "abstracts/variables" as *;
@use "base/colors" as *;
@use "abstracts/mixins" as *;
@use "base/animations" as *;

.story-section {
  position: relative;
  overflow: hidden;

  &__description {
    max-width: 1000px;
    @include margin(2xl, bottom);

    @include min-width(md) {
      @include margin(5xl, bottom);
    }
  }

  &__services {
    max-width: 1000px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include min-width(xl) {
      flex-direction: row;
      justify-content: flex-end;
      gap: 5rem;
    }

    &-title {
      @include font-size(4xl);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: $black;
      padding-bottom: 0.5rem;
      position: relative;
      text-wrap: nowrap;

      @include min-width(lg) {
        max-width: 50%;
      }
    }

    &-grid {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include min-width(md) {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: start;
        gap: 2rem;
      }

      @include min-width(xl) {
        justify-content: end;
      }
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &:last-child {
        width: fit-content;
      }
    }

    &-item {
      @include font-size(lg);
      color: rgba($black, 0.85);
      position: relative;
      padding-left: 1.5rem;

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        position: absolute;
        left: 0;
        top: 0.5rem;
        background-color: $black;
      }
    }
  }
}
