// prevents layout hell with padding+width
*,
*::before,
*::after {
    box-sizing: border-box;
}

// removes default margin and padding
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

// removes default list styles
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Smooth scrolling with anchor links or focus jumps
html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

// Prevents overflowing images
img,
picture {
    max-width: 100%;
    display: block;
}


// Keeps form elements consistent with body font
input,
button,
textarea,
select {
    font: inherit;
}

body, html {
 overflow-x: hidden; 
}