@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/colors' as *;

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    @include font-size(base);
    @include font-weight(medium);
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-weight(bold);
    line-height: 1.2;
}

h1 {
    @include font-size(3xl);
}

h2 {
    @include font-size(2xl);
}

h3 {
    @include font-size(xl);
}

p {
    margin-bottom: spacing(md);
}