@use "abstracts/variables" as *;
@use "base/colors" as *;
@use "abstracts/mixins" as *;
@use "base/animations" as *;
@use "base/typography" as *;

.services-section {
  position: relative;
  @include section-spacing;

  .container {
    @include container-width(mobile);
    margin: 0 auto;
    @include gap(sm);

    @include min-width(md) {
      @include container-width(tablet);
    }

    @include min-width(lg) {
      @include container-width(smalldesktop);
    }

    @include min-width(xl) {
      @include container-width(desktop);
      max-width: 1280px;
    }
  }

  .title {
    @include font-size(5xl);
    @include font-weight(bold);
    color: $black;
    line-height: 1;
    @include margin(lg, bottom);

    @include min-width(sm) {
      @include font-size(4xl);
    }

    @include min-width(md) {
      @include font-size(6xl);
    }

    @include min-width(lg) {
      @include font-size(8xl);
    }

    span {
      display: inline;
    }
  }

  .subtitle {
    @include font-size(base);
    line-height: 1.6;
    color: rgba($black, 0.75);
    @include margin(3xl, bottom);
    max-width: 500px;

    @include min-width(md) {
      @include padding(md, left);
    }

    strong {
      color: $black;
      @include font-weight(semibold);
    }
  }

  .grid {
    @include grid(1, md);
    width: 100%;

    @include min-width(sm) {
      @include grid(2, sm);
    }

    @include min-width(md) {
      @include grid(2, md);
    }

    @include min-width(lg) {
      @include grid(3, lg);
    }
  }
}
