@use "@/styles/abstracts/variables" as *;
@use "@/styles/base/colors" as *;
@use "@/styles/abstracts/mixins" as *;

.services-section {
  width: 100%;
  position: relative;
  overflow: visible;
  @include section-padding-top();
  z-index: 1;

  &__header {
    width: 100%;
    @include margin(3xl, bottom);
    
    @include flex(column, flex-start, flex-start);
    @include gap(lg);
    
    @include min-width(lg) {
      @include flex(row, space-between, flex-start);
      @include gap(4xl);
    }
  }

  &__header-left {
    width: 100%;
    
    @include min-width(lg) {
      width: 50%;
      flex-shrink: 0;
    }
  }

  &__header-right {
    width: 100%;
    
    @include min-width(lg) {
      width: 45%;
      flex-shrink: 0;
    }
  }

  &__title {
    @include margin(md, bottom);
    
    @include min-width(lg) {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    width: 100%;
    line-height: 1.6;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    @include gap(lg);
    position: relative;
    z-index: 20;

    @include min-width(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include min-width(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card-wrapper {
    position: relative;
  }
}