@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;
@use "base/animations" as *;

.fabricacion-services {
  position: relative;
  width: 100%;
  @include section-padding-y();
  background-color: $black;

  &__container {
    width: 100%;
    @include container-width(mobile);
    @include padding(sm, x);
    margin: 0 auto;
    box-sizing: border-box;

    @include min-width(md) {
      @include container-width(tablet);
      @include padding(md, x);
    }

    @include min-width(lg) {
      @include container-width(smalldesktop);
      @include padding(lg, x);
    }

    @include min-width(xl) {
      @include container-width(desktop);
      @include padding(xl, x);
    }
  }

  &__content {
    @include flex(column, flex-start, flex-start);
    @include gap(2xl);
    color: $white;

    @include min-width(lg) {
      flex-direction: row;
      @include margin(xl, y);
      @include gap(4xl);
    }
  }

  &__header {
    position: relative;
    @include margin(3xl, bottom);
  }

  &__title {
    color: $white;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    @include gap(sm);
    justify-content: flex-start;
    width: 100%;

    @include min-width(lg) {
      width: 40%;
      margin-bottom: 0;
    }

    @include min-width(xl) {
      width: 35%;
    }
  }

  &__category {
    @include font-size(base);
    @include font-weight(medium);
    line-height: 1.2;
    text-align: center;
    padding-block: 12px;
    @include padding(sm, x);
    @include border-radius(full);
    display: inline-block;
    color: $white;
    background-color: $black;
    border: 1px solid $white;
    white-space: nowrap;
    @include transition(all, normal, ease);
    cursor: pointer;

    &:hover {
      background-color: rgba($white, 0.2);
    }
  }

  &__description {
    width: 100%;

    @include min-width(lg) {
      width: 60%;
    }
  }

  &__text {
    @include font-size(base);
    line-height: 1.6;
    color: rgba($white, 0.8) !important;
    @include margin(lg, bottom);

    @include min-width(md) {
      @include font-size(lg);
    }
  }
}
