@use "abstracts/variables" as *;
@use "base/colors" as *;
@use "abstracts/mixins" as *;
@use "base/animations" as *;

.nuestro-espacio-details-section {
  position: relative;
  width: 100%;
  @include padding(md, bottom);

  &__text {
    @include min-width(md) {
      max-width: 900px;
      margin-left: auto;
      @include margin(3xl, top)
    }
  }
}
