@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;
@use "base/animations" as *;

.diseno-interiores-process {
  width: 100%;
  position: relative;

  &__container {
    padding: 0 auto;
    @include container-width(mobile);

    @include min-width(md) {
      @include container-width(tablet);
    }

    @include min-width(lg) {
      @include container-width(smalldesktop);
    }

    @include min-width(xl) {
      @include container-width(desktop);
    }
  }

  &__description {
    max-width: 1000px;
    margin-left: auto;
    @include padding(4xl, bottom);
  }
}
